.App {
  width:100%;
  box-sizing: border-box;
  padding: 1rem 3rem 0 3rem;
}

.Titlu{
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-text);
  margin-bottom: 3rem;
}
.Text{
  width: 50%;
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--color-text);
  padding-bottom: 3rem;
}
.setfractaldiv{
  display: flex;
}

.setfractalbtn{
  padding: 0 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-text);
}
.setfractalbtn:hover{
  transition: 1s;
  color: var(--color-accent);
}